{% load i18n %}{% autoescape off %}Hello from Serenity Digital

You're Receiving this e-mail because you or someone else has requested a password for your user account at serenitydigital.ca .
It can be safely ignored if you did not request a password reset.
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
https://www.serenitydigital.ca/{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Serenity Digital  team{% endblocktrans %}

{% endautoescape %}
